In [1]:
#LOADING THE DATASET

In [2]:
df = spark.read.format("org.apache.spark.sql.execution.datasources.csv.CSVFileFormat").option("header", "true").load("Melbourne.csv")

In [3]:
#SHOWING THE FIRST 5 ROWS OF THE DATASET

In [4]:
df.take(5)

[Row(_c0='2', Suburb='Abbotsford', Address='25 Bloomburg St', Rooms='2', Type='h', Price='1035000.0', Method='S', SellerG='Biggin', Date='4/02/2016', Distance='2.5', Postcode='3067.0', Bedroom2='2.0', Bathroom='1.0', Car='0.0', Landsize='156.0', BuildingArea='79.0', YearBuilt='1900.0', CouncilArea='Yarra City Council', Lattitude='-37.8079', Longtitude='144.9934', Regionname='Northern Metropolitan', Propertycount='4019.0'),
 Row(_c0='4', Suburb='Abbotsford', Address='5 Charles St', Rooms='3', Type='h', Price='1465000.0', Method='SP', SellerG='Biggin', Date='4/03/2017', Distance='2.5', Postcode='3067.0', Bedroom2='3.0', Bathroom='2.0', Car='0.0', Landsize='134.0', BuildingArea='150.0', YearBuilt='1900.0', CouncilArea='Yarra City Council', Lattitude='-37.8093', Longtitude='144.9944', Regionname='Northern Metropolitan', Propertycount='4019.0'),
 Row(_c0='6', Suburb='Abbotsford', Address='55a Park St', Rooms='4', Type='h', Price='1600000.0', Method='VB', SellerG='Nelson', Date='4/06/2016', Distance='2.5', Postcode='3067.0', Bedroom2='3.0', Bathroom='1.0', Car='2.0', Landsize='120.0', BuildingArea='142.0', YearBuilt='2014.0', CouncilArea='Yarra City Council', Lattitude='-37.8072', Longtitude='144.9941', Regionname='Northern Metropolitan', Propertycount='4019.0'),
 Row(_c0='11', Suburb='Abbotsford', Address='124 Yarra St', Rooms='3', Type='h', Price='1876000.0', Method='S', SellerG='Nelson', Date='7/05/2016', Distance='2.5', Postcode='3067.0', Bedroom2='4.0', Bathroom='2.0', Car='0.0', Landsize='245.0', BuildingArea='210.0', YearBuilt='1910.0', CouncilArea='Yarra City Council', Lattitude='-37.8024', Longtitude='144.9993', Regionname='Northern Metropolitan', Propertycount='4019.0'),
 Row(_c0='14', Suburb='Abbotsford', Address='98 Charles St', Rooms='2', Type='h', Price='1636000.0', Method='S', SellerG='Nelson', Date='8/10/2016', Distance='2.5', Postcode='3067.0', Bedroom2='2.0', Bathroom='1.0', Car='2.0', Landsize='256.0', BuildingArea='107.0', YearBuilt='1890.0', CouncilArea='Yarra City Council', Lattitude='-37.806', Longtitude='144.9954', Regionname='Northern Metropolitan', Propertycount='4019.0')]

In [5]:
#SHOWING THE SCHEMA OF THE DATASET

In [6]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Suburb: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Rooms: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Method: string (nullable = true)
 |-- SellerG: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- Postcode: string (nullable = true)
 |-- Bedroom2: string (nullable = true)
 |-- Bathroom: string (nullable = true)
 |-- Car: string (nullable = true)
 |-- Landsize: string (nullable = true)
 |-- BuildingArea: string (nullable = true)
 |-- YearBuilt: string (nullable = true)
 |-- CouncilArea: string (nullable = true)
 |-- Lattitude: string (nullable = true)
 |-- Longtitude: string (nullable = true)
 |-- Regionname: string (nullable = true)
 |-- Propertycount: string (nullable = true)

In [7]:
from pyspark.sql.types import DoubleType

In [8]:
df1=df.withColumn("Bedroom2", df["Bedroom2"].cast("double"))\
.withColumn("Bathroom", df["Bathroom"].cast("double"))\
.withColumn("Car", df["Car"].cast("double"))\
.withColumn("Landsize", df["Landsize"].cast("double"))\
.withColumn("BuildingArea", df["BuildingArea"].cast("double"))\
.withColumn("Price", df["Price"].cast("double"))\
.withColumn("Distance", df["Distance"].cast("double"))\
.withColumn("Rooms", df["Rooms"].cast("double"))
df1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Suburb: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Rooms: double (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Method: string (nullable = true)
 |-- SellerG: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Distance: double (nullable = true)
 |-- Postcode: string (nullable = true)
 |-- Bedroom2: double (nullable = true)
 |-- Bathroom: double (nullable = true)
 |-- Car: double (nullable = true)
 |-- Landsize: double (nullable = true)
 |-- BuildingArea: double (nullable = true)
 |-- YearBuilt: string (nullable = true)
 |-- CouncilArea: string (nullable = true)
 |-- Lattitude: string (nullable = true)
 |-- Longtitude: string (nullable = true)
 |-- Regionname: string (nullable = true)
 |-- Propertycount: string (nullable = true)

In [9]:
from pyspark.sql.functions import max
from pyspark.sql.functions import min
from pyspark.sql.functions import desc 
from pyspark.sql.functions import asc

In [10]:
df1.describe('Rooms', 'Landsize', 'BuildingArea').show()

+-------+------------------+------------------+-----------------+
|summary|             Rooms|          Landsize|     BuildingArea|
+-------+------------------+------------------+-----------------+
|  count|              8577|              8577|             8577|
|   mean|3.1394426955812054| 528.8772298006296|153.5990767867553|
| stddev| 0.929112136872094|1071.6671390054103|86.37989456829557|
|    min|               1.0|               0.0|             50.0|
|    max|              12.0|           42800.0|           3112.0|
+-------+------------------+------------------+-----------------+

In [11]:
df1.select(max("price")).show()

+----------+
|max(price)|
+----------+
| 9000000.0|
+----------+

In [12]:
df1.filter("price == 9000000").show()

+-----+--------+-----------+-----+----+---------+------+-------+----------+--------+--------+--------+--------+---+--------+------------+---------+-------------------+---------+----------+--------------------+-------------+
|  _c0|  Suburb|    Address|Rooms|Type|    Price|Method|SellerG|      Date|Distance|Postcode|Bedroom2|Bathroom|Car|Landsize|BuildingArea|YearBuilt|        CouncilArea|Lattitude|Longtitude|          Regionname|Propertycount|
+-----+--------+-----------+-----+----+---------+------+-------+----------+--------+--------+--------+--------+---+--------+------------+---------+-------------------+---------+----------+--------------------+-------------+
|19583|Mulgrave|35 Bevis St|  3.0|   h|9000000.0|    PI|   Hall|29/07/2017|    18.8|  3170.0|     3.0|     1.0|1.0|   744.0|       117.0|   1960.0|Monash City Council|-37.93168| 145.16126|South-Eastern Met...|       7113.0|
+-----+--------+-----------+-----+----+---------+------+-------+----------+--------+--------+--------+--------+---+--------+------------+---------+-------------------+---------+----------+--------------------+-------------+

In [13]:
df1.select(min("price")).show()

+----------+
|min(price)|
+----------+
|  131000.0|
+----------+

In [14]:
df1.filter("price == 131000").show()

+----+---------+----------+-----+----+--------+------+-------+----------+--------+--------+--------+--------+---+--------+------------+---------+--------------------+---------+----------+--------------------+-------------+
| _c0|   Suburb|   Address|Rooms|Type|   Price|Method|SellerG|      Date|Distance|Postcode|Bedroom2|Bathroom|Car|Landsize|BuildingArea|YearBuilt|         CouncilArea|Lattitude|Longtitude|          Regionname|Propertycount|
+----+---------+----------+-----+----+--------+------+-------+----------+--------+--------+--------+--------+---+--------+------------+---------+--------------------+---------+----------+--------------------+-------------+
|3063|Caulfield|30 Pyne St|  4.0|   h|131000.0|    PI| Rodney|25/02/2017|     8.9|  3162.0|     4.0|     1.0|2.0|   499.0|       155.0|   1920.0|Glen Eira City Co...| -37.8864|  145.0242|Southern Metropol...|       2379.0|
+----+---------+----------+-----+----+--------+------+-------+----------+--------+--------+--------+--------+---+--------+------------+---------+--------------------+---------+----------+--------------------+-------------+

In [15]:
#what are the most expensive suburbs?

In [16]:
df1.groupBy("Suburb").mean("Price").withColumnRenamed("avg(Price)", "Average Price").sort(desc("Average Price")).show(5)

+-----------+------------------+
|     Suburb|     Average Price|
+-----------+------------------+
|    Kooyong|         3080000.0|
|Middle Park|2665115.3846153845|
| Canterbury| 2467462.962962963|
|   Deepdene|         2380000.0|
|    Malvern|2325583.3333333335|
+-----------+------------------+
only showing top 5 rows

In [17]:
#what are the cheapest suburbs?

In [18]:
df1.groupBy("Suburb").mean("Price").withColumnRenamed("avg(Price)", "Average Price").sort(("Average Price")).show(5)

+-------------+-----------------+
|       Suburb|    Average Price|
+-------------+-----------------+
|    Kurunjang|         403000.0|
|Bacchus Marsh|         412000.0|
|       Wallan|         422750.0|
| Melton South|447583.3333333333|
|       Melton|449233.3333333333|
+-------------+-----------------+
only showing top 5 rows

In [19]:
#top 5 sellers in terms of average price of houses sold

In [20]:
df1.groupBy("SellerG").mean("Price").withColumnRenamed("avg(Price)", "Average Price").sort(desc("Average Price")).show(5)

+---------+------------------+
|  SellerG|     Average Price|
+---------+------------------+
|Sotheby's|         4241250.0|
|     Hall|3501666.6666666665|
|   Assisi|         3360000.0|
|    Weast|         3320000.0|
|  VICProp|         3056000.0|
+---------+------------------+
only showing top 5 rows

In [32]:
#houses sold by top 5 sellers

In [31]:
df1.groupBy("SellerG").count().sort(desc("count")).show(5)

+-------------+-----+
|      SellerG|count|
+-------------+-----+
|       Nelson|  971|
|       Jellis|  843|
|        Barry|  728|
|hockingstuart|  639|
|          Ray|  495|
+-------------+-----+
only showing top 5 rows

In [21]:
df1.groupBy("Suburb").mean("Rooms",'Landsize', "BuildingArea", "Distance").\
withColumnRenamed("avg(Rooms)", "Avg n. of Rooms").\
withColumnRenamed("avg(Landsize)", "Avg landsize in meters").\
withColumnRenamed("avg(BuildingArea)", "Avg Building size in meters").\
withColumnRenamed("avg(Distance)", "Avg distance from the CBD").show(5)

+---------------+------------------+----------------------+---------------------------+-------------------------+
|         Suburb|   Avg n. of Rooms|Avg landsize in meters|Avg Building size in meters|Avg distance from the CBD|
+---------------+------------------+----------------------+---------------------------+-------------------------+
| Brunswick West| 2.869565217391304|      347.536231884058|          126.1304347826087|        5.686956521739128|
|South Melbourne| 2.727272727272727|    159.79545454545453|         124.08204545454545|        2.045454545454547|
|   Ivanhoe East|3.6666666666666665|                 875.0|                      230.6|                     8.68|
|   Princes Hill|               3.0|    217.66666666666666|                      154.0|       3.5666666666666664|
|     Cranbourne|               4.5|                2368.0|                      202.0|                     34.7|
+---------------+------------------+----------------------+---------------------------+-------------------------+
only showing top 5 rows